*{
    margin: 0;
    padding: 15;
    background-color: rgb(184, 108, 47);
}
.main{
    width: 100%;
    
    background-position: center;
    background-size: cover;
    height: 1000px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;

}
.navbar{
    
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
   
}
.navbar .logo{
    width: 100px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;

}
ul{
    margin: -4%;    
}
ul li{
    list-style: none;
    display:inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -2%;
}

ul li a:hover{
    color: brown;
}
.info{
     margin: 7% 6%;
  
}
.info h1{
    font-size: 65px;
    color: rgb(27, 59, 65);
}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.info span{
    color: rgb(10, 10, 29);
}
.info a{
    text-decoration: none;
    color: white;
    background: rgb(81, 150, 150);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}
info a:hover{
    background: orangered;
}
.image{
    width: 20%;
    height: 90%;
    position: absolute;
    right: 0cm;
    bottom: 0;

}
image img{
    position: absolute;
    height:140% ;
   left: 90px;
   transform: translate(-50%);
   bottom: 0;
   transition: left 2s ease;
}
.image:hover.my img{
    left: 55%;

}
